DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=techport
DB_USER=root
DB_ENCRYPTION_KEY=COLE_SUA_CHAVE_FERNET
DB_PASSWORD=COLE_SUA_SENHA_CRIPTOGRAFADA

# Laboratório Aula 08
API_BASE_URL=http://127.0.0.1:8000
ADMIN_USER=admin
ADMIN_PASSWORD=techport123
